:root {
    --cor-primaria: #00c9fc;
    --cor-secundaria: #6500b8;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #04232c;    
    --cor-bg-escuro: #00001a;
    --cor-bg-claro: #04232c;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }